<form class="form" [formGroup]="form">
  <div>
    <label for="start_date">Start date</label>
    <input
      type="date"
      id="start_date"
      name="start_date"
      formControlName="start_date"
      max="{{ this.FormService.today }}"
    />

    <label for="end_date">End date</label>
    <input
      type="date"
      id="end_date"
      name="end_date"
      formControlName="end_date"
      max="{{ this.FormService.today }}"
    />
  </div>
</form>
