<article>
  <header>
    <h1 class="title">NeoWs</h1>
    <h2 class="title">Near Earth Object Web Service</h2>
  </header>
  <p class="lead">
    Select a new start or end date to get a different range of entries.
  </p>
  <ng-container *ngIf="cometoid$ | async as cometoidMap; else skeleton">
    <section *ngFor="let com of cometoidMap | keyvalue">
      <h3>
        {{ com.key | date }}
      </h3>
      <ul>
        <li *ngFor="let value of com.value">
          <a routerLink="/neows/detail/{{ value.id }}">
            {{ value.name }} : {{ value.id }}
          </a>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-template #skeleton>
    <ngx-skeleton-loader
      count="8"
      appearance="line"
      [theme]="{ width: '80%' }"
    ></ngx-skeleton-loader>
  </ng-template>
  <ng-container [formGroup]="datesForm">
    <app-date-form formGroupName="formFields"></app-date-form>
  </ng-container>
</article>
