<article *ngIf="pod$ | async as pod" class="pod">
  <h1 class="title">
    {{ pod.title }}
  </h1>
  <h2 class="title">
    {{ pod.date | date: "longDate" }}
  </h2>
  <section>
    {{ pod.explanation }}
    <img src="{{ pod.url }}" width="400" />
  </section>

  <nav class="pod-nav">
    <div *ngIf="previousDate$ | async as previousDate">
      <a routerLink="/apod/detail/{{ previousDate }}">
        <span class="apod-date"> {{ previousDate }}: </span>
        Previous
      </a>
    </div>
    <div *ngIf="nextDate$ | async as nextDate">
      <a routerLink="/apod/detail/{{ nextDate }}">
        <span class="apod-date"> {{ nextDate }}: </span>
        Next
      </a>
    </div>
  </nav>
</article>
