h2 {
  margin-bottom: 4rem;
}
.pod section {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.2rem;
}

.pod img {
  margin-top: 2rem;
}

.pod-nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 1rem;
}
