<article>
  <section>
    <h1 class="title">APOD</h1>

    <h2 class="title">Astronomy Picture of the Day</h2>
    <p class="lead">
      Select a new start or end date to get a different range of pictures.
    </p>
  </section>
  <section>
    <ul class="apods" *ngIf="apods$ | async as apods; else skeleton">
      <li *ngFor="let apod of apods">
        <a routerLink="/apod/detail/{{ apod.date }}">
          <span class="apod-date"> {{ apod.date }}: </span>
          {{ apod.title }}
        </a>
      </li>
    </ul>
    <ng-template #skeleton>
      <ngx-skeleton-loader
        count="8"
        appearance="line"
        [theme]="{ width: '80%' }"
      ></ngx-skeleton-loader>
    </ng-template>
  </section>
</article>
<ng-container [formGroup]="datesForm">
  <app-date-form formGroupName="formFields"></app-date-form>
</ng-container>
