h4.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.apod-date {
  margin-inline-end: 0.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 1rem;
}

.form * {
  margin: 6px 0;
  padding: 0 6px;
}
.form label {
  padding: 0;
}
