/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}
.title {
  margin: 48px 0 12px;
  font-size: 3rem;
  font-weight: normal;
}
h2.title {
  font-size: 2rem;
  margin-top: 0;
}
.lead {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: normal;
}
.form-button,
button {
  margin-top: 18px;
  padding: 12px 18px;
  border: none;
  font-size: 1rem;
}
button {
  transition: box-shadow ease-in-out 0.2s;
}
button:hover {
  transition: box-shadow ease-in-out 0.2s;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}
button:active {
  transform: translateY(2px);
}
.success {
  background-color: green;
}
.danger {
  background-color: orange;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

ul {
  list-style: none;
}
ul li {
  margin: 12px 0;
}
ul li:first-of-type {
  margin-top: 0;
}
ul a {
  text-decoration: none;
}
ul a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 238, 0.8);
}
